<!DOCTYPE html>
<html>
<head>
    <title>行事曆設定</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/calendar.min.css">
</head>
<body>

    <div id="calendar"></div>

    <script type="text/javascript" src="/javascripts/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="/javascripts/underscore-min.js"></script>
    <script type="text/javascript" src="/javascripts/calendar.min.js"></script>
    <script type="text/javascript">
        var calendar = $("#calendar").calendar(
            {
                tmpl_path: "/javascripts/calendar_tmpls/",
                events_source: function () { return []; }
            });         
    </script>
</body>
</html>