<!DOCTYPE html>
<html>
<head>
    <title>訂單管理</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
</head>
<body>

    <div id="calendar"></div>

    <script type="text/javascript" src="/javascripts/jquery-1.9.1.min.js"></script>
    <h3>訂單管理</h3>
</body>
</html>