<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>setting</title>

    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <script src="/javascripts/jquery-1.9.1.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>

    <input type="text" name="userName"></input> <br/>
    <input type="checkbox">男</input><input type="checkbox">女</input> <br/>
    <input type="date"></input> <br/>
    <select id="citySelect">
	  <option>台灣 台北</option>
	  <option>日本 東京</option>
	  <option>美國 紐約</option>
	  <option>英國 倫敦</option>
	</select>
  </body>
</html>
