<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>setting</title>

    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet">
  </head>
  <body>
    <script src="/javascripts/jquery-1.9.1.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script lang="javascript">
    </script>

    <form class="form-control" role="form">
      <input type="file" placeholder="請選擇圖片" multiple/>
      <input type="text" name="userName" placeholder="請輸入您的姓名"></input> <br/>
      <label class="radio-inline"><input type="radio" name="optradio">男</label>
      <label class="radio-inline"><input type="radio" name="optradio">女</label> <br/> <br/>
      <input type="date" placeholder="請選擇您的出生年月日" class="form-control" value="2012-12-12"></input>
      <select id="citySelect" class="form-control">
  	  <option>台灣 台北</option>
  	  <option>日本 東京</option>
  	  <option>美國 紐約</option>
  	  <option>英國 倫敦</option>
      </select>
    </form>
  </body>
</html>
