<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <form method='post' action='/user'>
      Type : <input type='text' name='type'/><br/>
      ID : <input type='text' name='id'/><br/>
      Name : <input type='text' name='name'/><br/>
      Link : <input type='text' name='link'/><br/>
      Gender :<input type='text' name='gender'/><br/>
      Email : <input type='text' name='email'/><br/>
      Birthday : <input type='text' name='birthday'/><br/>
      Locale : <input type='text' name='locale'/><br/>
      <input type='submit' />
    </form>
  </body>
</html>
