<center><H3>Privacy policy</H3></center>
This privacy policy aim is telling you, how do we handle personal information. If your different idea is any parts of privacy policies, so we can not provide platform or service to you, you should stop visiting the platform, and stop using your HELLO! ! Bank account.
<BR><BR><B>1. The information that you provide</B><BR><BR>
We receive, save and handle the message that you provided to us while visiting or using our platforms and service. For example include:
<BR>a.Fill in any registration of form or the renewal your bank account information of platform, or when you provide identity certificate or passport;
<BR>b.Visit or use the platform as searching for and putting forth or accepting to reserve, pay to travel a route of travel any related service, announce comment on or carry on the correspondence with other customers;
<BR>c.What chain connected your bank account third party website(for example Facebook) go to HELLO! ! Account, in this case, we will acquire you provide to personal information of third party's website, and third party's
website is allowed inside the scope of authorization by you.
<BR><BR><B>2.Mobile Data Service</B><BR><BR>
When you use some functions of platform, we can receive, save and handle the information of different types. Code as your position, IP address and postal service with the foundation function of more concrete information(for example, the ambulation equipment of platform or particular function that visits the platform of up being used for of GPS). If pass to move equipment interview the platform, you don't hope that your equipment provides the fixed position for us with? Information, you can forbid GPSs or other positions on the equipment with? Function, as long as your equipment can make you attain this point.
<BR><BR><B>3.Daily record data</B><BR><BR>
We can also receive and save and handle a daily record data, this by we whenever you visit or use the platform, whether you are registered Airbnb or register your Airbnb account number or not, the server will automatically record, like your IP address information, date and time, you interview or use the platform, the hardware and software that you are using, reference and withdraw page and URL, click the number of times, sequence and time of web page and these web pages browsing cost in the amount of particular page.
<BR><BR>4.Cookies and other make track for? Technique<BR><BR>
HELLO! ! Use the cookies and other similar technique, if move to apply a procedure marking sign, on the platform. We can also let our business cooperation the partner use its cookie and other make track for? The platform of technique. Therefore, when your interview or use the platform, will provide for you or provide some informations to us, our business cooperates a partner.
<BR><BR><B>5. Third party's plug-in</B><BR><BR>
Our platforms can use by third party's company, provide and conduct as the Facebook Like button which social intercourses plug - ins.
<BR>
Because of this reason, you can send out to third party's company, you are looking into the certain information of one part of our platform. If you haven't registered your bank account third party's company, so the third parties may not know your identity. If you register with third party's and companies bank account, so the third parties can can have something to do with their contacting you to visit our platforms, your bank account. Similar ground of, along with society of the interaction of the plug-in may be recorded by the third party.
<BR>
Please make reference to third party's privacy policy, with understanding more moduses concerning its data, for example which datas be collected concerning you and how the third parties use these datas.
