<b>Article 1  This standard applies the scope </b><br />
<br />
1. This "HELLO!! service use standard"(call "this standard" as follows) wants to use for the user(call "the first party" as follows) by HELLO! ! Serve(call "the second party" as follows) develop, by on-line tour service(as follows brief name"this service") provided by this platform(call the ? as follows this platform?) conducted by the second party should obey, the item agreed on by of the first party and the second party. The first party all needs to be confirmed first and agrees a following standard content before using service that the second party provides. 
<div>2.  When the first party is minor or restriction behavior ability, can not use this service. </div>
<div>3.As for the second party at this service to the first party the rules, instruction policies of another line of enactment, and the second party sees as the integral whole in etc.s(be not limited to too actually that name, publishes the method(other related websites that this platform or the second party conducts publish it to announce, ePaper etc.), call "individual code" as follows) and this standards of a variety of decisions or notice that any time publishes. The content of of standards and this standards has the situation of difference separately, with individual standard of? Permit to underlie this standard? Permit. But, when the another standard has the rules separately of, then act according to the rule's content.

<br />
<br />
<b>Article 2  The alteration of this standard </b><br />
<br />
1. The second party reserves the before the event not to notify the first party, modify the right of this service standard at any time. </div>
<div>2. The second party will be in APP carry on announcing while carrying on the standard correction. </div>
<div>3. The first party must browse this APP at any time and confirm the correction content of this standard. If the first party's individual has never confirmed the standard correction the loss caused by content, the second party doesn't take any indemnity responsibility.

<br />
<br />
<b>Article 3  The user registers </b><br />
<br />
1. This service only accepts since have Facebook or Weibo account number registration to log on, and break through to use an account number by cellular phone message certification. </div>
<div>2. The registration becomes an user, in addition to agreeing this standard, need to act according to the method that the second party settles to carry on the application, so as to become the user of the second party's service. </div>
<div>3. The first party can not change the account number that is given by the second party by oneself. As need to carry on the alteration because of the well reasonable reason, need to put forth to change the application to the second party, is re- published an account number by the second party. </div>
<div>4. The first party's rights, qualificationses are Is being more exclusive than to register an account number am all. In spite of any condition, all not ability the rights, qualificationses with 3 people totally have, also in spite of have the Chang or gratisly let Du, lend money, inherit to 3 people, this right can not become the object that any foot provides the guarantee. </div>
<div>5. When isn't enough because of equipment, the Zhang harm occurrence etc. or other particulars of a matters, the second party must be shoulding limit the first party and make use of this ministrant right before particulars of a matter relieve when being judged by the second party to cause can not provide this ministrant condition occurrence.

<br />
<br />
<b>Article 4  Pay service </b><br />
<br />
1. In this service as include have already paid service, explain the fee rate and pay the standard(pay service standard) of way, will besides publish in this system. After agreeing this standard, and agreeing to pay service standard, then become the object that can use to pay service. </div>
<div>2. Need the complete use this service need to have personal credit card and bank account and pay the way Jin to provide a credit card to pay by card and take tour service amount of money to then need personal bank account in order to remit.

<br />
<br />
<b>Article 5  This ministrant use system limits</b><br />
<br />
When the first party had the following and any situation, the second party had the legal power system should the first party make use of this ministrant right. System limits the method and? Permit is judged by the second party to justify for it. </div>
<div>1. When the first party acted against this standard, or againsts the possibility of anti- standard. </div>
<div>2. The first party leaks the information inside the platform to 3 people, 3 people are falsely use this service, or 3 people falsely be use the second party's other service. </div>
<div>3. After the second party judge, the first party's behavior has the worry in uncertainty that cause the damage to the second party's business(containment originally service). </div>
<div>4. The user who holds a plural account number, if had an any account number to act against the clause above standard, and was subjected to the condition that the use limits, the second party has power to should the first party hold of all account numbers carry on using the right restriction.
5. When intention assumed name the account number application of using the second party or the third artificial purpose or had the condition of this worry in uncertainty.

<br />
<br />
<b>Article 6 This service stops powers, this standard approvals</b><br />
<br />
1. The first party according to ex- after giving the certain term not yet see an improvement at the second party after being limited by this service use, he/she violates the rules particulars of a matter, will with the second party settle method know meeting the first party, the relief first party's account number, cancel the use this ministrant right. </div>
<div>2. By the second party, the judging the particulars of a matter that forbids does evil the idea or once causes before acting against big injure, the second party has the power at groundless ex- notify the first party, forbid the first party to use origin ministrant right. </div>
<div>3. According to ex- what draws up this use system that serves limit, or the first party because this standard user's account number relieved and because of stop the use to originally serve to get of any damage, the second party doesn't take any responsibility.

<br />
<br />
<b>Article 7 The first party's personal responsibility </b><br />
<br />
1. The first party for use this service and it is related all behavior, just only for the first party's individual qualifications and law responsibility ownership of use. The first party undertakes the all responsibilities to the result of behavior(the containment acts against this standard content and not only is limited by this) of the first party's self, because behavior result to get of the indemnity(include the lawsuit wait for all expenseses) is also born by the first party. The second party doesn't take any responsibility to any problem produced by the first party's behavior. </div>
<div>2. The first party for use this service to cause the second party and include other user's grades when 3 people be subjected to injure the first party needs to personal responsibility and the expenses burden and carries on the compensatory responsibility to the damage. </div>
<div>3. The first party by using this service or this ministrant connection item and causing the first parties, the second parties also or 3 people is come from other third condition of what people waited for report or interrogation, the first party needs his/her own burden responsibility and process in produce of expenses, don't must pass on responsibility or indemnity problem at the first party outside of others.(include the second party). </div>
<div>4. The first party needs to use originally service burden personal responsibility, judge make use of after the first party this service gain of intelligence need to bear personal responsibility. The first party for use the intelligence to getting of result burden all responsibilities, take place the damage and expenses was responsible for the first party's individual while producing scope. </div>
<div>5. The first party needs by oneself the burden to produce for using and originally serving of expenseses, such as smart phone equipment or software and internet on-line expenses...etc.. </div>
<div>6. The first party needs to is responsible by oneself the responsibility that the account number keeps secret the management, in spite of is after the first party admit or suffer 3 people to personally use this service, all see as the first party's behavior, need to be responsible by oneself to get of responsibility.
7. If the first party finds that the other users against anti- origin behavior of the standard, need and as soon as possible requite with the second party.
8. The first party needs alteration originally serve for the sake of the use register of intelligence, need and carry on a content alteration procedure according to the procedure that the second party draws up.

<br />
<br />
<b>Article 8  Personal information</b><br />
<br />
1. The first party's personal intelligence while carrying on this ministrant user's registration applies service item processing(Article 17s, personal datas) of this platform. </div>
<div>2.  The first party the position of IP while making use of this service, make use of the second party is responsible for the etc. electromagnetism record in time preservation. When the second party responded ordinance and related public organizations, such as supervisor's organization and court...etc. to the electromagnetism's record because of request of proper reason, get by law make the first party's electromagnetism record public.

<br />
<br />
<b>Article 9 The intelligence uploaded by the first party</b><br />
<br />
1. The first party while using this service to upload or sharing data, such as message and picture...etc.(as follows the intelligence uploaded by brief name is for"upload the intelligence"), the first party's needing to in advance confirm to upload the intelligence has never infringed upon to include the second party or 3 people's intellectual property rights wait for all right. </div>
<div>2. The second party must inspect uploading of the first party's intelligence at any time for managing this service. </div>
<div>3. When following any condition took place, the second party's getting wasn't and in advance notifying to shoulded carry on uploading informative correction or deletion under the first party's condition. But the second party didn't inspect the obligation of uploading the intelligence, and carried on the responsibility that revises or cuts off. As because the second party for carry on correction or deletion to cause the second parties, the first parties or 3 people produce any expenses or injure, is all taken all responsibilities by the first party, the second party dismisses the all responsibilities. </div>
<div>  (a) The standard that uploads the intelligence to exceed the second party to besides draw up(period, and capacity...etc.). </div>
<div>  (b) Upload the not appropriate intelligence to violate the second party or 3 people? Benefit, or have the second party the condition for judging to have this possibility.</div>
<div>  (c) Upload the intelligence is affirmed by the second party that acting against a male preface is good vulgar, or aim at particular individuals, groups to have the condition to calumniate the vilification.</div>
<div>  (d) When the second party judged to have for the sake of the condition of this service operation or the maintenance management. </div>
<div>4. When the intelligence that the first party uploads made the second party have expenses or damage creation, the first party needs to the second party produce of the expenseses, damages carry on compensating the responsibility.

<br />
<br />
<b>Article 10  Don't promise the scope </b><br />
<br />
1. The second party doesn't do any guarantee to the following item according to this standard top and the law. When even if following item had any minor faults, the second party also had no modified of obligation, another because of should the minor faults is direct to the first party or indirect expenses and damage produced not take the responsibility of indemnity.</div>
<div> (a)This service all keeps the normal operation at any time.</div>
<div> (b)This service has no minor faults part.</div>
<div> (c)Data or intelligence of the software or other everythings that is provided by the second party in this service or this service, have no of bad conditions, such as program mistake(BUG) and weakness...etc..</div>
<div> (d)This service will not break off, can in fixed time provide this service, and make use of this service all ability smooth on-line succeed go to server.</div>
<div> (e)What this service provides? Permit or way can hope according to the first party or particular purpose.</div>
<div> (f)What this service provides is exactitude just can trust of intelligence.</div>
<div> (g)This service can the intelligence that the first party receives or sends out, have no the preservation of error margin in the appointed server, or can send to the second party or include the first party at inside of 3 people, or ability the exactitude show on the appearance.</div>
<div> (h)All or part that upload the data will not disappear.</div>
<div> (i)The origin serves completely without the problem.(exploitation originally service will not produce any bad influence on the first party's smart phones, tablet or network environment)

<br />
<br />
<b>Article 11  The alteration that the origin serves</b><br />
<br />
1. The second party at after judging of the second party? Behind, must carry on the alteration to the partial or all contents of this service under the sistuation that not and in advance know a meeting the first party. 
<div>2. The second party for because the second party carries on this service content to change, don't take any responsibility when it makes the first party directly or indirectly produce expenses or damage.

<br />
<br />
<b>Article 12 The interruption and abeyance that the origin serves.</b><br />
<br />
1. Because the following particulars of a matter causes to provide this service part or all service scope have difficulty, the second party must isn't and in advance knowing to will stop halfway part of or all of contents of this service at the time under the first party's condition.</div>
<div> (a)Natural calamities, such as earthquake, tidal wave, flood and volcano eruption...etc., the war, turmoil, and riot...etc. irresistible force factor.</div>
<div> (b) Fire? The power is off etc..</div>
<div> (c)This service system periodically or maintain at the time.</div>
<div> (d)While receiving designations, orders of ordinance, and administration organization...etc..</div>
<div> (e)Have the other usage the top or technique last reason. </div>
<div>2. The second party has the power after judging through the second party, in spite of any reason after stopping scheduling to and announcing to notify on the second party's website before the 30th in day, must stop halfway part of or all of service contents at any time. </div>
<div>3. Because of ex-1. Item or 2. Item, when the second party breaks off or stops halfway part of or all of contents of this service for the first party or 3 people are direct or indirect all expenseses(internet on-line expenses etc., but not only be limited by this) like expenses,etcs produced with damage, the second party doesn't take any responsibility. </div>
<div>4. This service while breaking off or stopping halfway part of or all of contents, the first party be breaking off or stop halfway ex- intelligences or datas in this service deposited in, the first party has no business to do the request that serves as.

<br />
<br />
<b>Article 13  The ownership of right </b><br />
<br />
1. This service all intelligence, program and software, trademark and name of shop, key technique and business secret for including, and the patent of other techniques(include the patent right? , Trademark powers, works? Etc., but not only be limited by this), use right and management right etc. is other all right, all Be belonged to the second party or own should right of 3 people. </div>
<div>2. The first party is hasing not yet the second party or when 3 people wait for the before the event writing form of right approval forbiding will include to originally serve at inside of all intelligence, program and software, trademark, and name of shop...etc., carry on the change, change to make, make duplicate, edit, redistribute, promulgate, spread, publication etc., exceed law standard personal use scope and make money the purpose use. </div>
<div>3. The first party is uploading at the same time, the namely gratis and unconditional approval the second party has the replication, releases, change or deletion should upload the informative right. The second party will upload the intelligence to inform or release to 3 people, having the concealment should upload the intelligence is tell, provided by who, public right. </div>
<div>4. If the first party because use originally serve or have connection with this service, public or tell the second party relevant origin ministrant related suggestion etc., the second party hasn't to be agreed by the first party, cut the right of measuring the usage by oneself.

<br />
<br />
<b>Article 14 Forbid an item</b><br />
<br />
This standard and besides stipulate of forbid an item, in spite of the first party is in the process of using this service in intentionally, mistake, all forbid the occurrence of following behavior. </div>
<div>1. Violate the second party or on the behavior of right of 3 people's intellectual property rightses, other laws, or have the worry in uncertainty violated of behavior. </div>
<div>2. Public, inform the behavior of 3 people's personal intelligence, infringe upon the behavior of 3 people's right of privacy or portrait power, or have the worry in uncertainty violated of behavior. "3 people's personal intelligence" said by this, include come from any intelligence source, namely in spite of whether for through this news that serves to gain to know. </div>
<div>3. This another standard has been already stipulated excepted, the file or intelligence(include it to make duplicate the file) make use of this service to gain, have Chang or gratisly let Du, lend money, inherit to 3 people of behavior. </div>
<div>4. Hinder this service to operate or the other user use this service, or the second party affirms the behavior with the worry in uncertainty of hindrance.(include provide, transmission virus etc. harmful program) </div>
<div>5. Does the origin serve? Publish of work things, such as intelligence and content...etc., haven't yet a right before the event to agree to carry on the change and change to make the etc. editor behavior without authorization, or announcing of in spite of any way behavior. In spite of is an official site in the second party or the first party private website to wait for any place, in spite of any way is publicly above say of change, change to make the content of the etc. editor behavior or the behavior of the method. </div>
<div>6. For the second party or 3 people have already belittle, slandered vilification etc. and damage the behavior of the reputation or reputation, and violate 3 people and correspond by letter the behavior of secret freedom. </div>
<div>7. Publish, public, provide, send or inform vilification, harassment, coprology etc. content or may make to include other users at inside of 3 people produce the content of disgusting the feeling, or any inducement include other users at inside of 3 people to have the behavior of above content. </div>
<div>8. Falsely use an others status, the malice uses this ministrant behavior. </div>
<div>9. Make use of to originally serve for the religions, human race, sex and race or other bring the content of having the prejudice, or intent to constitute with the groups, groups of business behavior purpose, or hold the behavior of activity. </div>
<div>10.The first party will I or the account numbers, passwords of other users tell the others, or inquire the others account number informative behavior. </div>
<div>11.The plural person totally uses the behavior of the same account number. </div>
<div>12.Carry server softwares, customers the program mistake of software usage in falsely be of purpose, or tell the program's false malice 3 people. </div>
<div>13.Involve the behavior of server emulator(server emulator), or develop, manufacture, participation use, dispersal server emulators, piracies the customer carry the behavior of software, utility program(utility). </div>
<div>14.The malice exploitation customer carries a program mistake of software, server software. </div>
<div>15.Change, revise, again edit and translate the customer to carry the software, or manufacture two creationses to develop a work, or involve anti- translate the program to the engineerings, solutions, analytical behavior of the communication data. </div>
<div>16.In spite of whether with make money or non-profit is purpose, carry on the publicity and tell, induce the bargain, and service...etc. as behavior of the purpose, or it prepares the behavior. </div>
<div>17.Publish, public, provide, send to violate the second party or 3 people's falses, such as right and benefit...etc. are dishonest or false pretense property informative behavior. </div>
<div>18. Violate the above item, have violate, damage the second party or 3 people of the fact of right or benefit or have the behavior of its worry in uncertainty, against the fact of anti- law standard, such as law, rule and order...etc. or have the behavior of its worry in uncertainty, act against this standard and forbid the similar behavior in the item.

<br />
<br />
<b>Article 15  Reply measures, liability for damage compensations</b><br />
<br />
1. The first party as long as have before violating standard of any forbid an item, the second party for the sake of fair of maintenance originally service operate as usual, the second party has the power to do to this service and the first party necessary just appropriate treatment measure. </div>
<div>2. Because the first party acts against the item that this standard settles to cause the second party or on loss of 3 people's beneficial benefit, the first party replies the second party or should the indemnity request put forth by 3 people, the burden compensates responsibility.

<br />
<br />
<b>Article 16  Don't need a responsibility item </b><br />
<br />
1. The second party to the first party this standard have already jotted down this service related development and provide, operate etc. the item, besides which, don't take any responsibility. Because this service causes the first party or the first party with when 3 people produce the dispute the second party doesn't take any responsibility. </div>
<div>2. This service because of the machine breakdown, problem and power outage happening to cause on-line environment abnormality etc. irresistible force reason, probably cause the intelligence concerning the first party disappearance. Besides, because the system obstacle etc. factor to has already caused the first party's data's disappearing and delay of possibility. The second party in addition to intentionally or great failures etc. condition outside, the occurrence cause the data concerning the first party's disappearing and delay the condition and cause the first party or don't take any responsibility when 3 people be subjected to injure. </div>
<div>3. In spite of whether this standard has the rules, the second party to the first party produce any all loss all not negative indemnity responsibility.
4. The first party needs under the sistuation that don't act against the social good kind customs, reasonable use originally service. If the first party acts against the above item too to getting that damage and problem, the second party doesn't take any responsibility.

<br />
<br />
<b>Article 17  Quasi- according to method </b><br />
<br />
This contract takes R.O.C. law as quasi- according to the method.<br />
<br />
</div>
</div>
<a href="http://html5test.com/" rel="nofollow">HTML5 Test</a>
<br />
<br />
<a href="http://52.27.238.26:8080/setting" rel="nofollow">DEREK WEB SETTING</a>