<H1>隐私政策</H1><BR><BR>
本隐私政策旨在告知您，我们如何处理个人信息。如果您不同意任何部分隐私政策，那麽我们无法提供平台或服务给你，你应该停止访问该平台，并停用您的HELLO!!帐户。
<BR><BR><B>1. 您提供的资讯</B><BR><BR>
我们接收丶存储和处理您访问或使用我们的平台和服务时提供给我们的讯息。例如包括：
a.填写平台上任何形式的注册或更新您的帐户资讯，或当你提供身份证件或护照;
b.访问或使用该平台，如搜索丶提出或接受预订，支付旅游行程任何相关的服务，发表评论或与其他用户进行通信;
c.链接您的帐户上的第三方网站（比如Facebook ）到HELLO!!账户，在这种情况下，我们将获得您提供给第三方网站的个人信息，与第三方网站由你允许授权的范围内
<BR><BR><B>2.移动数据</B><BR><BR>
当您使用平台的某些功能时（尤其是我们的APP），我们可以接收丶存储和处理不同类型的资讯。如你的位置丶IP地址丶邮政编码和更具体的信息（例如， GPS的上用於访问该平台的平台或特定的功能的移动设备）的基础功能。如果通过移动设备访问该平台，你不希望你的设备为我们提供定位跟踪信息，您可以禁用设备上的GPS或其他位置跟踪功能，只要您的设备可以让你做到这一点。
<BR><BR><B>3.日志数据</B><BR><BR>
我们也可以接收，存储和处理日志数据，这是由我们每当你访问或使用该平台，无论你是注册的Airbnb或登录到您的Airbnb帐号，服务器会自动记录，如您的IP地址信息，日期和时间，您访问或使用该平台，您正在使用的硬件和软件，参考和退出页面和URL ，点击次数，浏览的网页和这些网页的顺序和时间花费在特定页面的数量。
page.
<BR><BR><B>4.Cookies和其他追踪技术</B><BR><BR>
HELLO!!使用cookies和其他类似技术，如移动应用程序标识符，在平台上。我们也可以让我们的业务合作夥伴使用其cookie和其他追踪技术的平台。因此，当您访问或使用该平台，将为你提供或提供某些信息给我们，我们的业务合作夥伴。
<BR><BR><B>5.第三方插件</B><BR><BR>
我们的平台可以使用由第三方公司，如Facebook的Like按钮提供和经营哪些社交插件。
<BR>
由於这个原因，您可以发送给第三方公司，你正在查看我们平台的某一部分的信息。如果您尚未登录到您的帐户与第三方公司，那麽第三方可能不知道你的身份。如果您登录到与第三方公司帐户，那麽第三方可以能够与他们联系有关您访问我们的平台，您的帐户。类似地，随着社会的插件的互动可能由第三者记录。
<BR>
请参考第三方的隐私政策，以了解更多有关其数据的做法，比如哪些数据被收集关於你和如何第三方使用这些数据。<BR><BR>
