<center><h3>HELLO!!服务使用规范</h3></center>
<b>第一条 本规范的适用范围</b><br />
<br />
1.此「HELLO!!服务使用规范」（以下简称「本规范」），为使用者（以下简称「甲方」）欲使用由HELLO!!服务（以下简称「乙方」）所开发，由乙方所经营的本平台(以下简称｢本平台｣)所提供的线上旅游服务（以下简称「本服务」）时所应当遵守，甲方和乙方之间所约定之事项。甲方在使用乙方所提供的服务之前，皆需要先确认并且同意以下规范内容。
<br />
2. 当甲方为未成年者或限制行为能力者时，不得使用本服务。<br />
3.关於乙方在本服务对於甲方所另行设定之规则丶指导方针，以及乙方在任何时候所发行各种决策或通知等（不局限於实际上的名称丶发行方法（本平台或乙方所经营其他相关网站刊载之公告丶电子报等），以下简称「个别规约」）和本规范视为一体。个别规范和本规范之间的内容有所差异之情形，以个别规范的内容优先於本规范内容。但，当个别规范另有规定之时，则遵照该规定内容。

<br />
<br />
<b>第二条 本规范的变更</b><br />
<br />
1. 乙方保留不事前通知甲方，随时修改本服务规范之权利。
2. 乙方在进行规范修正时，会於APP内进行公告。
3. 甲方得随时浏览本APP，确认本规范的修正内容。如甲方个人没有确认规范修正内容所导致的损失，乙方不负任何赔偿责任。

<br />
<br />
<b>第三条 使用者注册</b><br />
<br />
1. 本服务仅接受既有Facebook或微博帐号注册登入，并以手机简讯认证开通使用帐号。
2. 注册成为使用者，除同意本规范之外，需遵照乙方所定的方法进行申请，才能成为乙方服务的使用者。
3. 甲方无法自行更改由乙方所给予的帐号。如因充分合理理由需进行变更，需向乙方提出变更申请，由乙方重新发行帐号。
4. 甲方的权利丶资格为专属於注册帐号的本人所有。不论任何情况，皆不能将该权利丶资格与第三人共有，亦不论有偿或无偿的让渡丶借贷丶继承予第三人，本权利无法成为任何足供担保的标的物。
5. 当因设备不足丶障害发生等或其他事由，由乙方判断造成无法提供本服务的情况发生时，乙方得在该当事由解除之前，限制甲方利用本服务的权利。

<br />
<br />
<b>第四条 支付服务</b><br />
<br />
1. 本服务中如包含有付费服务时，说明费率和支付方式的规范（付费服务规范），会另外刊载在本系统内。在同意本规范，并同意支付服务规范後，即成能够使用支付服务的对象。
2. 需完整使用本服务需具备个人信用卡及银行帐户，付费方式尽提供信用卡刷卡，收取旅游服务款项则需个人银行帐户以便汇入。

<br />
<br />
<b>第五条 本服务的使用制限</b><br />
<br />
甲方有下列任一情形时，乙方有权限制该当甲方利用本服务的权利。制限方法和内容得由乙方判断裁定为之。
1. 甲方违反本规范，或有违反规范之可能性时。
2. 甲方将平台内资讯泄漏给第三人，第三人不正当使用本服务，或第三人不正当使用乙方的其他服务。
3. 甲方的行为经乙方判断後，对於乙方的事业（包含本服务）有造成损害之疑虑时。
4. 持有复数帐号的使用者，如有任一帐号违反了前项规范，而受到使用限制的情况时，乙方有权对该当甲方所持有的所有帐号进行使用权利限制。
5. 意图冒名使用乙方或第三人为目的的帐号申请丶或有此疑虑的情况时。

<br />
<br />
<b>第六条 本服务停权丶本规范同意</b><br />
<br />
1. 甲方基於前条受到本服务使用限制後，在乙方给予一定期限後仍未见改善其违规事由时，会以乙方所定方法知会甲方，解除甲方帐号，取消使用本服务的权利。
2. 经乙方判断违反前条所禁止事由为恶意或造成过大损害时，乙方有权在不经事前通知甲方，禁止甲方使用本服务的权利。
3. 基於前条所制定的本服务的使用制限，或甲方因本条规范所解除的使用者帐号及因停止使用本服务所致生的任何损害，乙方不负任何责任。

<br />
<br />
<b>第七条 甲方的个人责任</b><br />
<br />
1.甲方对於使用本服务及其相关之一切行为，仅限甲方个人拥有使用资格与法律责任归属。甲方对於甲方自身之行为（包含违反本规范内容丶且不仅限於此）的结果承担一切的责任，因行为结果致生的损害赔偿（包含诉讼等所有费用）亦由甲方负担。乙方对於甲方行为所产生的任何问题不负任何的责任。
2. 甲方对於使用本服务造成乙方及包含其他使用者等第三人受到损害时，甲方需对个人责任与费用负担，对於该损害进行赔偿的责任。
3. 甲方藉由使用本服务或本服务的关联项目丶造成甲方本人丶乙方亦或第三人，受到来自其他第三人等的申诉或质问的情况时，甲方需自己负担责任和过程中所产生的费用，不得将责任或赔偿问题转嫁於甲方本人以外的他人（包含乙方）。
4. 甲方需对使用本服务负担个人责任，经过甲方判断利用本服务所得到的情报时需负担个人责任。甲方对於使用该情报所致生的结果负担一切责任，发生损害和费用产生时为甲方个人负责范围。
5. 甲方需自行负担为使用本服务所产生的智慧型手机设备或软体丶网际网路连线费用等费用。
6. 甲方需自行负责帐号保密管理的责任，不论是经过甲方许可或遭受第三人私自使用本服务时，皆视为甲方本人之行为，需自行负责所致生之责任。
7. 甲方如果发现其他使用者有违反本规范的行为时，需尽速和乙方回报。
8. 甲方需要变更为了使用本服务所注册的情报时，需依乙方所制定流程进行内容变更手续。

<br />
<br />
<b>第八条 个人情报</b><br />
<br />
1. 甲方在进行本服务的使用者注册时的个人情报，适用本平台之服务条款处理（第十七条丶个人资料）。
2. 甲方在利用本服务时的ＩＰ位置丶利用时间等电磁记录由乙方负责保管。乙方对於该电磁记录因应法令及相关主管机关或法院等公家机关因正当理由之要求时，得依法公开甲方的电磁记录。

<br />
<br />
<b>第九条 甲方所上传的情报</b><br />
<br />
1. 甲方在使用本服务上传或分享讯息丶图片等资料时（以下简称所上传的情报为「上传情报」），甲方需事先确认该上传情报无侵犯包含乙方或第三人的智慧财产权等一切权利。
2. 乙方为管理本服务得随时检阅甲方的上传情报。
3.下列的任一情况发生时，乙方得在不事先通知该当甲方的情况下，进行上传情报的修正或删除。但乙方并无监察上传情报的义务，以及进行修正或削除的责任。如因乙方为进行修正或删除导致乙方丶甲方或第三人产生任何费用或损害，皆由甲方负所有责任，乙方免除一切责任。
    (a) 上传情报超过乙方另外制定的规范时（期间丶容量等）。
    (b) 上传情报不当侵害到乙方或第三人的権利，或有乙方判断有此可能性的情况时。
    (c) 上传情报由乙方认定违反公序良俗，或针对特定个人丶团体有诽谤中伤的情况时。
    (d) 乙方判断有为了本服务营运或维护管理的情况时。
4. 甲方所上传情报导致乙方有费用或损害产生时，甲方需要对乙方所产生的费用丶损害进行赔偿责任。

<br />
<br />
<b>第十条 不保证范围</b><br />
<br />
1. 乙方基於本规范上及法律，对於下列的事项不做任何的保证。即便下列事项有任何瑕疵时，乙方亦无修正的义务，另因该当瑕疵对甲方直接或间接所产生的费用和损害不负赔偿的责任。
    (a)本服务随时都保持正常运作。
    (b)本服务无任何瑕疵部分。
    (c)本服务或是本服务上由乙方所提供的软体或其他一切的资料或情报，无任何的程式错误（BUG）或缺点等不良状况。
    (d)本服务不会中断，能定时提供本服务，以及利用本服务时皆能顺利连线成功到伺服器。
    (e)本服务所提供的内容或方式能够符合甲方的希望或特定目的。
    (f)本服务所提供的为正确且能信赖的情报。
    (g)本服务能够将甲方所接收或发送的情报，毫无误差的保管在指定伺服器，或能送达乙方或包括甲方在内的第三人，或能在画面上正确显示。
    (h)上传情报的全部或部分不会消失。
    (i)本服务完全无任何问题（利用本服务不会对甲方的智慧型手机丶平板电脑或网路环境产生任何不良的影响）。

<br />
<br />
<b>第十一条 本服务的变更</b><br />
<br />
1. 乙方在经过乙方的判断後，得在不事先知会甲方的情况下，对本服务的部份或全部内容进行变更。
2. 乙方对於因乙方进行本服务内容变更，造成甲方直接或间接产生费用或损害时，不负任何的责任。

<br />
<br />
<b>第十二条 本服务的中断及中止</b><br />
<br />
1. 由於以下事由造成提供本服务部分或全部服务范围有所困难时，乙方得在不事先知会甲方的情况下，临时中止本服务的部分或全部内容。
    (a)地震丶海啸丶洪水丶火山喷发等天灾，战争丶动乱丶暴动等不可抗力因素。
    (b)火灾・停电等。
    (c)本服务系统的定期或临时维修。
    (d)收到法令丶行政机关等的指示丶命令时。
    (e)有其他运用上或技术上理由时。
2. 乙方有权在经由乙方判断後，不论任何理由在中止预定日的30日前於乙方网站上公告通知後，得随时中止部分或全部的服务内容。
3. 因前1. 项或2. 项，乙方中断或中止本服务的部分或全部内容时，对於甲方或第三人直接或间接所产生的费用等一切费用（网际网路连线费用等，但不仅限於此）和损害，乙方不负任何责任。
4. 本服务在中断或中止部分或全部内容时丶甲方在中断或中止前所存放在本服务中的情报或资料，甲方无权做出任何的请求。

<br />
<br />
<b>第十三条 权利的归属</b><br />
<br />
1. 本服务所包含的所有情报丶程式及软体丶商标丶商号丶关键技术丶营业秘密，以及其他技术方面之专利(包含专利权権丶商标权丶着作権等，但不仅限於此)，使用权丶管理权等其他所有权利，皆归属於乙方或拥有该当权利的第三人。
2. 甲方在未经乙方或第三人等权利者的事前书面同意时，禁止将包含本服务在内的所有情报丶程式及软体丶商标丶商号等，进行改变丶改作丶复制丶编辑丶转载丶颁布丶散布丶出版等，超过法律所规范个人使用范围及营利目的使用。
3. 甲方在上传同时，即无偿丶无条件同意乙方有复制丶发布丶改变或删除该上传情报的权利。乙方将上传情报传达或发布予第三人时，有隐匿该上传情报由何人告知丶提供丶公开的权利。
4. 甲方若因使用本服务或与本服务有联系，公开或告知乙方有关本服务的相关建议等，乙方有不经该甲方同意，自行裁量运用的权利。

<br />
<br />
<b>第十四条 禁止事项</b><br />
<br />
本规范及另外规定的禁止事项，不论甲方在使用本服务过程中故意丶过失，皆禁止以下行为的发生。
1. 侵害乙方或第三人的智慧财产权丶其他法律上权利之行为，抑或有侵害之疑虑的行为。
2. 公开丶传达第三人的个人情报之行为，侵犯第三人隐私权或肖像权的行为，抑或有侵害之疑虑的行为。本条所述之「第三人的个人情报」，包含来自任何情报来源，即不论是否为透过本服务所得知的消息。
3. 本规范另有规定除外，利用本服务所得到的档案或情报（包含其复制档），有偿或无偿的让渡丶借贷丶继承给第三人的行为。
4. 妨碍本服务营运或其他使用者使用本服务，抑或乙方认定有妨碍之疑虑的行为（包含提供丶传送病毒等有害程式）。
5. 本服务内所刊载的情报丶内容等着作物，未经权利者事前同意擅自进行改变丶改作等编辑行为，或不论任何方式的发布行为。不论是在乙方的官方网站或甲方私人网站等任何场所，不论任何方式公开前述所说的改变丶改作等编辑行为的内容或方法的行为。
6. 对於乙方或第三人有贬低丶毁谤中伤等，毁损名誉或信用的行为，以及侵害第三人通信秘密自由的行为。
7. 刊登丶公开丶提供丶寄送或传达中伤丶骚扰丶猥亵等内容或可能使包含其他使用者在内的第三人产生厌恶感的内容，或任何诱导包含其他使用者在内的第三人至含有前述内容之行为。
8. 冒用他人身分，恶意使用本服务的行为。
9. 利用本服务对於宗教丶人种丶性别丶民族或其他带有偏见的内容，或是意图组成以商业行为目的的团体丶集团，或举行活动的行为。
10.甲方将本人或其他使用者的帐号丶密码告知他人，或询问他人帐号情报的行为。
11.复数人共用同一个帐号的行为。
12.将伺服器软体丶客户端软件的程式错误运用於不正当的目的，或将该程式错误恶意告知第三人。
13.涉及伺服器模拟器（server emulator）之行为，或开发丶制作丶参与使用丶散布伺服器模拟器丶盗版客户端软体丶公用程式（utility）之行为。
14.恶意利用客户端软体丶伺服器软体的程式错误。
15.改变丶修正丶再编译客户端软体，或制作二次创作衍生作品，或涉及反向工程丶解译程式丶分析通讯资料之行为。
16.不论是否以营利或非营利为目的，进行宣传丶告知丶诱导交易丶服务等为目的之行为，或其准备行为。
17.刊登丶公开丶提供丶寄送侵害乙方或第三人的权利或利益等虚伪不实或诈欺性质情报的行为。
18.触犯前述项目，有侵害丶毁损乙方或第三人的权利或利益的事实或有其疑虑的行为，有违反法律丶规则丶命令等法律规范的事实或有其疑虑的行为，违反本规范禁止事项内的类似行为。

<br />
<br />
<b>第十五条 回复措施丶损害赔偿责任</b><br />
<br />
1. 甲方只要有触犯前条所规范的任一禁止事项时，乙方为了公平的维持本服务正常运作，乙方有权对本服务及甲方做出必要且妥当的处置措施。
2. 因甲方违反本规范所定事项造成乙方或第三人有利益上损失时，甲方应对乙方或该当第三人所提出的损害赔偿请求，负担赔偿责任。


<br />
<br />
<b>第十六条 免责事项</b><br />
<br />
1. 乙方对甲方除了本规范有记载本服务相关的开发丶提供丶营运等事项外，不负任何责任。因为本服务造成甲方或甲方与第三人产生纠纷时，乙方不负任何责任。
2. 本服务因发生机器性故障丶问题丶停电导致连线环境异常等不可抗力原因时，有可能会导致有关甲方的情报消失。另外，因为系统障碍等因素有导致甲方资料消失丶延迟的可能性。乙方除了有故意或重大疏失等情况外丶发生导致有关甲方的资料消失丶延迟情况，造成甲方或第三人受到损害时，不负任何责任。
3. 不论本规范是否有所规定，乙方对甲方所产生任何一切损失皆不负赔偿责任。
4. 甲方需在不违反社会良善风俗情况下，合理的使用本服务。甲方如违反前述项目所致生的损害与问题，乙方不负任何责任。

<br />
<br />
<b>第十七条 准据法</b><br />
<br />
本契约以中华民国法律为准据法。<br />
<a href="http://html5test.com/" rel="nofollow">HTML5 Test</a>
<br />
<br />
<a href="http://52.27.238.26:8080/setting" rel="nofollow">DEREK WEB SETTING</a>